// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// index.html
// -----------------------------------------------------------------------------
.localisation{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 0;
    margin: 0;
    line-height: 1em;
    height: 40px;
    &__texte{
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
    i{
        margin-right: 15px;
    }
}
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 5em;
    &__title{
        font-size: 24px;
        font-weight: 600;
        color: #000;
        margin: 0;
        padding: 0 2.8em;
        margin-top: 2em;
    }
    &__paragraphe{
        font-size: 20px;
        font-weight: 400;
        color: #000;
        margin: 0;
        padding: 0 20px;
        margin: 10px 0 50px 0;
    }
}