// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// index.html
// -----------------------------------------------------------------------------
.localisation{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 0;
    margin: 0;
    line-height: 1em;
    height: 40px;
    &__texte{
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
    i{
        margin-right: 15px;
    }
}
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 5em;
    &__title{
        font-size: 24px;
        font-weight: 600;
        color: #000;
        margin: 0;
        padding: 0 2.8em;
        margin-top: 2em;
    }
    &__paragraphe{
        font-size: 20px;
        font-weight: 400;
        color: #000;
        margin: 0;
        padding: 0 20px;
        margin: 10px 0 50px 0;
    }
}
.fonctionnement{
    padding: 0 1em;
    margin-bottom: 150px;
    &__title{
        font-size: 24px;
        font-weight: 600;
        color: #000;
    }
    &__list{
        padding-left: 15px;
        padding-right: 5px;
        &--item{
            display:flex;
            justify-content: left;
            align-items: center;
            width: 100%;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.082) 5px 5px 10px 2px;
            margin: 30px 0;
            padding: 10px 0;
                &--nbr{
                font-size: 16px;
                margin-left: -13px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: #9356dc;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                }
                i{
                    margin: 0 25px;
                    font-size: 20px;
                    color:grey;
                }
                &--texte{
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                }
                &:nth-child(3){
                    background-color: #f5edff;
                    i{
                        color: #9356dc;
                    }
                }
        }   
    }
}